.dashboard-container {
  padding: 20px;
}

.tile-container {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
.table-container {
  max-height: 100vh;
  overflow: auto;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}


.actions-cell {
  position: relative; /* anchor popover */
  width: 64px;
  text-align: center;
}

.action-trigger {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
}

.action-popover {
  position: absolute;
  right: 8px;
  top: 28px;
  display: flex;
  gap: 8px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  background-color: black;
  padding: 6px;
  border-radius: 4px;
  z-index: 1200; /* above table header */
  white-space: nowrap;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  font-size: 14px;
  color: #333;
}

.icon-btn.edit { color: #1976d2; }    /* blue for edit */
.icon-btn.delete { color: #d32f2f; }  /* red for delete */



/* Form Section*/
table th{
  background-color: rgb(61, 74, 74);
  color: white;
}
.formInfo label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}
