<!--Main Navigation-->
<header>
    <div class="p-5 bg-body-tertiary mb-4">
        <h1 class="">Class and Division Management</h1>
        <nav aria-label="breadcrumb" *ngIf="!isEditFormVisible">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"> <i class="fa-solid fa-house"></i> Home</li>
            </ol>
        </nav>
        <nav aria-label="breadcrumb" *ngIf="isEditFormVisible">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <i class="fa-solid fa-house"></i><a href="/classmanagement"> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</header>

<div class="dashboard-container">


    <div *ngIf="!isEditFormVisible" class="col-md-3 offset-md-8 text-end">
        <button class="add-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            [attr.data-bs-target]="'#editModal'">
            <i class="fa-solid fa-arrow-rotate-right me-2"></i>Update Student
        </button>
        <div class="modal fade" [id]="'editModal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            *ngIf="selection.selected.length > 0">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="mb-3">You want to update class or division ?</div>
                        <button type="button" class="btn btn-secondary btn-sm me-2" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                            (click)="updatedata()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" [id]="'editModal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            *ngIf="selection.selected.length == 0">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>Please select rows you want to update class or division!</div>
                        <button type="button" class="btn btn-secondary btn-sm me-2" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- main table -->
    <div class="table-container" *ngIf="!isEditFormVisible">
        <div class="">
            <mat-form-field class="filter-field me-3">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                <mat-label>Search</mat-label>
            </mat-form-field>
            <mat-form-field appearance="fill" class="me-3">
                <mat-label>Select Class</mat-label>
                <mat-select name="physicalDisability" #physicalDisability="ngModel"
                    (selectionChange)="applyDropdownFilter($event.value)" required [(ngModel)]="selectedClass">
                    <mat-option value="">All Classes</mat-option>
                    <mat-option *ngFor="let class of classList" [value]="class">{{ class }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select Division</mat-label>
                <mat-select name="physicalDisability" #physicalDisability="ngModel"
                    (selectionChange)="applyDropdownFilter($event.value)" required [(ngModel)]="selectedDivision">
                    <mat-option value="">All Divisions</mat-option>
                    <mat-option *ngFor="let division of divisionList" [value]="division">{{ division }}</mat-option>

                </mat-select>
            </mat-form-field>
        </div>
        <table mat-table class="fixed-header-table" [dataSource]="dataSourceMainTable" matSort>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sortViewTable-header> Roll No </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            Progress Column
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sortViewTable-header> DOB </th>
                <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sortViewTable-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef mat-sortViewTable-header> Class </th>
                <td mat-cell *matCellDef="let row"> {{row.class}} </td>
            </ng-container>
            <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef mat-sortViewTable-header> Division </th>
                <td mat-cell *matCellDef="let row"> {{row.division}} </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row" class="actions-cell">
                    <!-- breadcrumb / ellipsis icon (Font Awesome) -->
                    <!-- Button trigger modal -->
                    <button class="icon-btn edit" title="Edit" data-bs-toggle="modal"
                        data-bs-target="'#deleteModal' + row.id" [attr.data-bs-target]="'#editModal' + row.id">
                        <i class="fas fa-edit"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" [id]="'editModal' + row.id" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="mb-3"> Please confirm that you want to proceed with editing {{row.id}}
                                        record ?</div>
                                    <button type="button" class="btn btn-secondary btn-sm me-2"
                                        data-bs-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                                        (click)="onEdit(row)">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="icon-btn delete" data-bs-toggle="modal" data-bs-target="#exampleModa2" title="Delete"
                        [attr.data-bs-target]="'#deleteModal' + row.id">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" [id]="'deleteModal' + row.id" tabindex="-1"
                        aria-labelledby="exampleModalLabe2" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="mb-3"><b> Please confirm that you want to proceed with deleting
                                            {{row.id}} record ?</b></div>
                                    <button type="button" class="btn btn-secondary btn-sm me-2"
                                        data-bs-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                                        (click)="onDelete(row)">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMainTable; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMainTable;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>

    </div>


    <!-- Edit Table -->

    <div class="table-cntainer" *ngIf="isEditFormVisible">
        <div class="">
            <label>You are updating all student class and division available in table</label>
        </div>
        <div class="col-12 d-flex justify-content-end gap-2">
            <button class="btn btn-success" data-bs-target="#ModalLabel3" title="updateform" data-bs-toggle="modal"
                [attr.data-bs-target]="'#edittableModal'">
                <i class="fas fa-save me-2"></i>Update
            </button>
            <!-- Modal -->
            <div class="modal fade" [id]="'edittableModal'" tabindex="-1" aria-labelledby="ModalLabel3"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="mb-3"><b> Please confirm that you want to update class to {{selectedClass}} and
                                    division to {{selectedDivision}} for all below records ?</b></div>
                            <button type="button" class="btn btn-secondary btn-sm me-2"
                                data-bs-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                                (click)="updateClassandDivision()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-secondary" type="reset" data-bs-toggle="modal" title="clearform">
                <i class="fas fa-broom me-2"></i>Clear Form
            </button>

        </div>


        <mat-form-field appearance="fill" class="me-3">
            <mat-label>Select Class</mat-label>
            <mat-select name="selectClass" #selectClass="ngModel" (selectionChange)="applyDropdownFilter($event.value)"
                [(ngModel)]="selectedClass">
                <mat-option *ngFor="let class of classesToUpdate" [value]="class">{{ class }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select Division</mat-label>
            <mat-select name="selectDivision" #selectDivision="ngModel"
                (selectionChange)="applyDropdownFilter($event.value)" required [(ngModel)]="selectedDivision">
                <mat-option *ngFor="let division of divisionsToUpdate" [value]="division">{{ division }}</mat-option>
            </mat-select>
        </mat-form-field>

        <table mat-table [dataSource]="dataSourceEditTable" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    No.
                </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Name
                </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                    Class
                </th>
                <td mat-cell *matCellDef="let row"> {{row.class}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    Division
                </th>
                <td mat-cell *matCellDef="let row"> {{row.division}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsEditTable"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsEditTable;"></tr>


        </table>

    </div>
</div>