<div class="dashboard-container">
    <h4>{{ role }}</h4>
    <p>{{ description }}</p>

    <div *ngIf="!showForm" class="col-md-3 offset-md-8 text-end">
        <button class="add-btn btn btn-primary" (click)="updatedata()">
           <i class="fa-solid fa-arrow-rotate-right me-2"></i>Update Student
        </button>
    </div>
    <table>
    </table>
    <div class="table-container" *ngIf="!showForm">
        <div class="">
        <mat-form-field class="filter-field me-3">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            <mat-label>Search</mat-label>
        </mat-form-field>
        <mat-form-field appearance="fill" class="me-3">
            <mat-label>Select Class</mat-label>
            <mat-select name="physicalDisability" #physicalDisability="ngModel"
                (selectionChange)="applyDropdownFilter($event.value)" required [(ngModel)]="selectedClass">
                <mat-option value="">All Classes</mat-option>

                <mat-option *ngFor="let class of classList" [value]="class">{{ class }}</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select Division</mat-label>
            <mat-select name="physicalDisability" #physicalDisability="ngModel"
                (selectionChange)="applyDropdownFilter($event.value)" required [(ngModel)]="selectedDivision">
                <mat-option value="">All Divisions</mat-option>
                <mat-option *ngFor="let division of divisionList" [value]="division">{{ division }}</mat-option>

            </mat-select>
        </mat-form-field>
        </div>

        <table mat-table class="fixed-header-table" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll No </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            Progress Column
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
                <td mat-cell *matCellDef="let row"> {{row.class}} </td>
            </ng-container>
            <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                <td mat-cell *matCellDef="let row"> {{row.division}} </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row" class="actions-cell">
                    <!-- breadcrumb / ellipsis icon (Font Awesome) -->
                    <!-- Button trigger modal -->
                    <button class="icon-btn edit" title="Edit" data-bs-toggle="modal"
                        data-bs-target="'#deleteModal' + row.id" [attr.data-bs-target]="'#editModal' + row.id">
                        <i class="fas fa-edit"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" [id]="'editModal' + row.id" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="mb-3"> Please confirm that you want to proceed with editing {{row.id}}
                                        record ?</div>
                                    <button type="button" class="btn btn-secondary btn-sm me-2"
                                        data-bs-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                                        (click)="onEdit(row)">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="icon-btn delete" data-bs-toggle="modal" data-bs-target="#exampleModa2" title="Delete"
                        [attr.data-bs-target]="'#deleteModal' + row.id">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" [id]="'deleteModal' + row.id" tabindex="-1"
                        aria-labelledby="exampleModalLabe2" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="mb-3"><b> Please confirm that you want to proceed with deleting
                                            {{row.id}} record ?</b></div>
                                    <button type="button" class="btn btn-secondary btn-sm me-2"
                                        data-bs-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                                        (click)="onDelete(row)">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>