<div class="">

  <!-- <h4>{{ role }}</h4>
  <h1>{{ welcomeText }}</h1>
  <p>{{ description }}</p> -->

  <!-- <div class="tile-container card card-tale">
    <app-card-tile class="card-body" *ngFor="let t of tiles" [icon]="t.icon" [title]="t.title" [link]="t.link"
      [count]="t.count">
    </app-card-tile>
  </div> -->


  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">{{ welcomeText }}</h3>
              <h6 class="font-weight-normal mb-0">{{ description }}
                <!-- <span   class="text-primary"> 3 unread alerts!</span> -->
              </h6>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 grid-margin transparent">
          <div class="row">
            <div class="col-md-4 mb-4 stretch-card transparent">
              <div class="card card-tale">
                <div class="card-body">
                  <h4 class="mb-4">{{tiles[0].title}}</h4>
                  <h2 class="fs-30 mb-2">{{tiles[0].count}}</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 stretch-card transparent">
              <div class="card card-dark-blue">
                <div class="card-body">
                  <h4 class="mb-4">{{tiles[1].title}}</h4>
                  <h2 class="fs-30 mb-2">{{ tiles[1].count}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->

      <!-- partial -->
    </div>
  </div>