/* You can add global styles to this file, and also import other style files */
.nav-link.active {
  background-color: #2f3133;
  color: white !important;
  border-radius: 5px;
}
.sidebar{
  background-color: rgb(61, 74, 74);
}