@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.nav-link.active {
  background-color: #2f3133;
  color: white !important;
  border-radius: 5px;
}
.sidebar{
  background-color: rgb(61, 74, 74);
}

:root{
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 70px;
  --topbar-height: 56px;
  --nav-height: 76px;
}

html, body, app-root, #wrapper{
  height: 100%;
  margin: 0;
}

.modal-dialog {
  top: var(--nav-height);
}